<h1>Journal</h1>

<table>
  <thead>
		<tr>
			<th></th>
      <th>Identifiant unique de carte (UID)</th>
      <th>Utilisateur</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
			<tr>
				<td><%= l(log.created_at) %></td>
        <td><%= log.card ? log.card.uid : '??' %></td>
				<td><%= log.user ? log.user.name : '??' %></td>
				<td><%= log.unknown_card %></td>
      </tr>
    <% end %>
  </tbody>
</table>

